/*
NOTE: This css works as it should as it
is written here.
*/

/*
use html in front of the CSS-selector
to claim precendence over inline css

NOTE: Body has to be larger than main
*/

/*
html .html-widget {
    width: 100% !important;
    height: auto;
    transform: scale(0.5);
}
*/

/*
html .html-widget .plotly {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}
*/

html .html-widget {
    max-width: 100% !important; /* Adjust this value to fit your layout needs */
    height: auto !important;
    margin: auto !important; /* Center the chart if the page width exceeds the max-width */
    overflow: hidden !important; /* Ensures no spillover if things are still too large */
}


html .plotly-container {
    transform: scale(0.5) !important; /* Scale down to match your DPI enhancement */
    transform-origin: top left !important; /* Keeps the chart aligned to the top-left corner */
}


html .container {
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}


html main {
    max-width: 1000;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* The body of the webpage */
/*
html body {
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
*/




/*
html main {
  max-width: 70% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 1981px) {
  html * {
    max-width: 1981px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 120% !important;
  }
}
*/
/*
html .plotly-chart-container {
  width: 100% !important;
}


html .col {
  width: 70% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
*/
